@import "buttons.css";
@import "canvas.css";

#title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #09950b;
    background-color: #e6e2e1;

}
p {
    text-align: center;
    font-size: 35px;
    color: darkred;
    text-shadow: #04AA6D;
}
body {
    background-color: black;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}